@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4" style="background-color: #FFFCC7">
        

        <table id="myTable" class="table table-bordered table-striped hover " style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>                   
                    <th>Price</th>               
                    <th>Category</th>
                    <th>Condition</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var obj in Model)
                {
                    @if (obj.IsDeleted == false || obj.IsDeleted == null)
                    {
                        <tr>
                            <td>@obj.Name</td>
                            <td>@obj.Price</td>
                            <td>@obj.Category.Name</td>
                            <td>@obj.Condition</td>
                            <td>@obj.Status</td>
                            <td>                      
                                @if (@obj.Status == "Available")
                                {
                                    <div  role="group" style="display:flex; justify-content:center;">
                                        @if (@obj.isBrowsed == "Approved")
                                        {
                                            <a asp-controller="Product" asp-action="Browse" asp-route-id="@obj.Id" class="btn btn-success mx-2" style="width:50%;">
                                                <i class="bi bi-pencil-square"></i> @obj.isBrowsed
                                            </a>
                                        }
                                        else if (@obj.isBrowsed == "Pending")
                                        {
                                            <a asp-controller="Product" asp-action="Browse" asp-route-id="@obj.Id" class="btn btn-info mx-2" style="width:50%;">
                                                <i class="bi bi-pencil-square"></i> @obj.isBrowsed
                                            </a>
                                        } 
                                        else
                                        {
                                            <a asp-controller="Product" asp-action="Browse" asp-route-id="@obj.Id" class="btn btn-dark mx-2" style="width:50%;">
                                                <i class="bi bi-pencil-square"></i> @obj.isBrowsed
                                            </a>
                                        }

                                        <a asp-controller="Product" asp-action="SoftDelete" asp-route-id="@obj.Id" id="btnDelete" class="btn btn-danger mx-2" style="width:50%;">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div  role="group" style="display:flex; justify-content:center;">
                                        <a asp-route-id="@obj.Id" class="btn btn-success mx-2 disabled" style="width:50%;">
                                            <i class="bi bi-pencil-square"></i> @obj.isBrowsed
                                        </a>
                                        <a asp-controller="Product" asp-action="SoftDelete" asp-route-id="@obj.Id" id="btnDelete" class="btn btn-danger mx-2" style="width:50%;">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </a>
                                    </div>
                                }
                            
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script>
        const btnDelete = document.getElementById('btnDelete');

        btnDelete.addEventListener('click', function (event) {
            if (!confirm('Bạn có chắc chắn muốn xóa bản ghi này không?')) {
                event.preventDefault();
            }
        });
    </script>
}