@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Transaction List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4" style="background-color: #FFFCC7">
        <table id="myTable" class="table table-bordered table-striped hover" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Seller ID</th>  
                    <th>Seller</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Where(u=>u.Status == "Sold"))
                {                                                             
                    <tr>
                        <td>@obj.Id</td>
                        <td> @obj.Name</td>
                        <td> @obj.ApplicationUserId</td>
                        <td> @obj.ApplicationUser.Name</td>
                        <td> @obj.Status</td>
                        <td>
                            @if(@obj.IsPay == false) {
                                <div role="group" style="display:flex; justify-content:center;">
                                    <a asp-controller="Transaction" asp-action="Summary" asp-route-id="@obj.Id" class="btn btn-primary mx-2" style="60%">
                                        <i class="bi bi-credit-card-2-back"></i> Pay
                                    </a>                              
                                </div>
                            } else {
                            <div class="w-75 btn-group" role="group">
                                <a class="btn btn-primary mx-2 disabled">
                                        <i class="bi bi-credit-card-2-back"></i> Paid
                                </a>

                            </div>
                            }
                        </td>
                    </tr>                   
                }
            </tbody>
        </table>

    </div>
</div>

@* @section Scripts {
    <script src="~/js/transaction.js"></script>
} *@