@model Product

<form method="post">
	<br />
	<div class="container">
		<div class="card shadow border-0">
			<div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
				<div class="row px-4">
					<div class="col-6">
						<h5 class="pt-2 text-white">
							Payment Summary
						</h5>
					</div>
					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-primary btn-sm">Back to Transaction</a>
					</div>
				</div>
			</div>
			<div class="card-body" style="background-color: #FFFcc7">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Payment Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Product Name</label>
								</div>
								<div class="col-9">
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Category</label>
								</div>
								<div class="col-9">
									<input asp-for="Category.Name" class="form-control" />
									<span asp-validation-for="Category.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Seller ID</label>
								</div>
								<div class="col-9">
									<input asp-for="ApplicationUser.Id" class="form-control" />
									<span asp-validation-for="ApplicationUser.Id" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Seller Name</label>
								</div>
								<div class="col-9">
									<input asp-for="ApplicationUser.Name" class="form-control" />
									<span asp-validation-for="ApplicationUser.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street Address</label>
								</div>
								<div class="col-9">
									<input asp-for="ApplicationUser.StreetAddress" class="form-control" />
									<span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City</label>
								</div>
								<div class="col-9">
									<input asp-for="ApplicationUser.City" class="form-control" />
									<span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Phone Number</label>
								</div>
								<div class="col-9">
									<input asp-for="ApplicationUser.PhoneNumber" class="form-control" />
									<span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
								</div>
							</div>							
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Product Summary:</span>
							</h4>
							<ul class="list-group mb-3">
								
								<li class="list-group-item d-flex justify-content-between">
									<div>
										<h6 class="my-0">@Model.Name</h6>
										
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between">
									<span class="text-muted">Price: @Model.Price.ToString("c")</span>
								</li>
								<li class="list-group-item d-flex justify-content-between">
								<span class="text-muted">Transaction fee: @((Model.Price * 0.1).ToString("c"))</span>
								</li>
								
								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Total (USD)</small>
								<strong class="text-info">@((Model.Price - (Model.Price * 0.1)).ToString("c"))</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer" style="background-color: #FFFCC7">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">
							@DateTime.Now.ToShortDateString()
						</p>
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Place Order" class="btn btn-primary form-control">Confirm</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</form>
